name: recipe_app
description: "A new Flutter project."

publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  flutter_svg: ^2.0.7
  flutter_smart_dialog: ^4.9.8+7
  shimmer: ^3.0.0
  dropdown_button2: ^2.3.9
  animate_do: ^3.3.4
  intl: ^0.19.0
  image_picker: ^1.1.2

  cupertino_icons: ^1.0.8
  get: ^4.7.2
  google_fonts: ^6.2.1
  http: ^1.3.0
  flutter_secure_storage: ^9.2.4
  cached_network_image: ^3.4.1
  pull_to_refresh: ^2.0.0
  shared_preferences: ^2.5.3
  path_provider: ^2.1.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/

  fonts:
    - family: Poppins
      fonts:
        - asset: assets/fonts/Poppins-Regular.ttf
          weight: 400
        - asset: assets/fonts/Poppins-Italic.ttf
          style: italic
        - asset: assets/fonts/Poppins-Bold.ttf
          weight: 700
